<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.nguyenhuutai.studentapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/student_hub_app"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".views.LoadActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".views.LecturerActivity"
            android:parentActivityName=".views.NavActivity" />
        <activity
            android:name=".views.NavActivity"
            android:label="@string/title_activity_bottom_navigation" />
        <activity android:name=".views.MainActivity" />
        <activity
            android:name=".views.LecturerDetailActivity"
            android:parentActivityName=".views.LecturerActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity
            android:name=".views.GroupActivity"
            android:parentActivityName=".views.NavActivity" />
        <activity
            android:name=".views.GroupDetailActivity"
            android:parentActivityName=".views.GroupActivity"/>
        <activity
            android:name=".views.TeachActivity"
            android:parentActivityName=".views.NavActivity" />
        <activity
            android:name=".views.TeachDetailActivity"
            android:parentActivityName=".views.TeachActivity" />
        <activity
            android:name=".views.JobActivity"
            android:parentActivityName=".views.NavActivity" />
        <activity
            android:name=".views.JobDetailActivity"
            android:parentActivityName=".views.JobActivity"/>
    </application>

</manifest>